.block {
    text-align: center;
    display: block;
    margin-top: 100px;
}


.title {
    font-size: 20px;
}

.description {
    font-size: 20px;
    position: relative;
    top: -10px;
}

.img {
    width: 50px;
}