.block {
    display: block;
}

.whiteBlock {
    width: 460px;
}

.avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;

    img {
        height: 100%;
    }
}